html
{

}
body {
  background-color: #B0E0E6;
  display: inline-flex;
}
hr
{
  border: double 5px teal;
  width: 400px;
  margin-bottom: 50px;
}
.heading
{
  text-align: left;
  text-decoration: underline;
  padding-left: 20px;
  padding-top: 20px;
}
.image {
  float: right;
  padding: 10px;
  width: 600px;
}

@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

.image{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}
.overline {
  text-decoration: overline;
}
.underline {
  text-decoration: underline;
}
/*Home*/
.home
{
    display: flex;
    font-family: cursive;
    margin-left: 78px;
}
.home h1
{
 font-family:forte;
font-size: 1px;
}
.home h2
{
  font-size: 43px;
  padding-top: 50px;
  color: teal;
}
.home h3
{
  font-size: 25px;
}
.home h5
{
  font-size: 20px;
}
.home img
{
  width: 550px;
  height: 600px;
}
.container
{
  text-align: center;
  background-color: snow;
  color: black;
  margin-left: -55px;
  width: 500px;
  height: 600px;

}
.container{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}
/*About Me*/
.about h1
{
  padding-top: 50px;
}
.aboutParagraph
{
   text-align: left;
   margin: 10px;
}
.hobby
{
  background-color: snow;
  width: 1000px;
}
.hobby h2
{
  background-color: #20B2AA;
  color: snow;
  padding-bottom: 10px;
  width: 170px;
}
.interest
{
  background-color: #20B2AA;
  color: snow;
}

/*Qualification*/
.qualification
{
  margin: 10px;
}

.qualification table tr th
{
  border: dotted 5px teal;

}
.qualification table
{
  margin-left: 200px;
}
.qualification table tr td
{
  border: double 3px teal;
  font-size: 16px;
}
.education h1
{
  background-color: #20B2AA;
  color: snow;
  padding-bottom: 10px;
  width: 270px;
}
.education {
    background-color: snow;
    color: black;
    margin-top: 70px;
    width: 1050px;
}
/* Popup */
.button {
  font-size: 1em;
  padding: 5px;
  color: #008B8B;
  cursor: pointer;
  transition: all 0.3s ease-out;
  display: inline-block;
}
.button:hover {
  background: #40E0D0;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #B0E0E6;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: teal;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.box
{
  padding: -30px;
  margin: -30px;
  width: 900px;
  align-items: flex-start;
  margin-left: 10px;
}
.qualification p
{
  border: 15px teal;
  border-style: inset;
  width: 300px;
  padding: 7px;
  margin-left: 80px;
  display: inline-block;
  font-family: forte;
  font-size: 15px;
}
.pop
{
  float: right;
  height:200px;
  width:250px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-style: 5px ridge teal;
}

/*Skills*/
.skills
{
  margin-left: 78px;
  margin-top: 78px;
}

.skills table tr th img
{
  height: 50px;
  width: 50px;
  background-color: snow;
  align-items: center;
  border: 1px;
}
.skills table tr th
{
  height: 20px;
  width: 300px;
  border: 1px;
  padding: 20px;
}
.skill h1
{
  background-color: #20B2AA;
  color: snow;
  padding-bottom: 10px;
  width: 180px;
  font-family: monospace;
  font-size: 25px;
}
.skill
{
  background-color: snow;
  color: black;
  width:1000px;
}
.progress
{
  width:300px;;
  background-color: silver;
  height: 20px;
}
.html
{
  background-color: silver;
  width:90%;
  height: 20px;
  animation: html 4s infinite;
  animation-fill-mode: forwards infinite;
  overflow: hidden;
}
.css
{
  background-color: silver;
  width:70%;
  height: 20px;
  animation: css 4s infinite;
  animation-fill-mode: forwards infinite;
  overflow: hidden;
}

.js
{
  background-color: silver;
  width:70%;
  height: 20px;
  animation: js 4s infinite;
  animation-fill-mode: forwards infinite;
  overflow: hidden;
}

.c
{
  background-color: silver;
  width:75%;
  height: 20px;
  animation: c 4s infinite;
  animation-fill-mode: forwards infinite;
  overflow: hidden;

}
.mysql
{
  background-color: silver;
  width:90%;
  height: 20px;
  animation: mysql 4s infinite;
  animation-fill-mode: forwards infinite;
  overflow: hidden;
}

.java
{
  background-color: silver;
  width:75%;
  height: 20px;
  animation: java 4s infinite;
  animation-fill-mode: forwards infinite;
  overflow: hidden;
}

.boots
{
  background-color: silver;
  width:50%;
  height: 20px;
  animation: boots 4s infinite;
  animation-fill-mode: forwards infinite;
  overflow: hidden;
}

@keyframes  html{
  from {left: 0px; width:0%; background-color: teal;}
  to {left: 30px;width:90% ; background-color: teal;}
}
@keyframes  css{
  from {left: 0px; width:0%; background-color: teal;}
  to {left: 30px;width:70% ; background-color: teal;}
}@keyframes  js{
  from {left: 0px; width:0%; background-color: teal;}
  to {left: 30px;width:70% ; background-color: teal;}
}@keyframes  boots{
  from {left: 0px; width:0%; background-color: teal;}
  to {left: 30px;width:50% ; background-color: teal;}
}@keyframes  c{
  from {left: 0px; width:0%; background-color: teal;}
  to {left: 30px;width:75% ; background-color: teal;}
}@keyframes  mysql{
  from {left: 0px; width:0%; background-color: teal;}
  to {left: 30px;width:90% ; background-color: teal;}
}@keyframes  java{
  from {left: 0px; width:0%; background-color: teal;}
  to {left: 30px;width:75% ; background-color: teal;}
}
.skillsparagraph
{
  background-color: snow;
  border: 5px dotted teal;
  font-family: chiller;
  font-size: 35px;
  width: 1000px;
  margin-left: 3px;
}


.photo
 {
  height: 200px;
  width: 150px;
  margin: 50px;
  margin-bottom: 10px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 5px 10px 5px 10px snow;
}
.photo:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg);   box-shadow: 5px 10px 5px 10px teal;
}
}
/*Contact*/

.contact h1
{
  background-color: #20B2AA;
  color: snow;
  padding: 5px;
  width: 180px;
  font-family: monospace;
  font-size: 25px;
}
.contact
{
  background-color: snow;
  color: black;
  width: 500px;
  text-align: left;
  margin-left: 78px;
}
.contact table
{
  margin: 10px;
  padding: 20px;
}
.contact table tr th
{
  border: double 2px teal;
  padding: 3px;
}
.message
{
  background-color: snow;
  width: 500px;
  margin: 78px;
}
.message input
{
  border: none;
  background-color: #AFEEEE;
  padding: 15px;
  border-radius: 3px;
  margin: 10px 10px;
}
.message button
{
  margin-bottom: 10px;
  background-color: teal;
  color: snow;
  padding: 5px;
  font-family: cursive;
  border-radius: 5px;
}
.icon
{
  width: 40px;
  height: 40px;
}

/*Navigation*/

nav {
  background-color: snow;
  display: block;
  padding: 15px;
  text-align: left;
  width: 210px;
}

nav a {
  color: black;
  margin: 0 1em;
  text-decoration: none;

}
nav a:hover
{
  cursor: pointer;
  text-decoration: underline;
  color: teal;
  font-size: 20px;

}
nav a:visited
{
  background: #008080;
}

.scrolling-box {
  background-color: #40E0D0;
  display: block;
  height: 750px;
  overflow-y: hidden;
  scroll-behavior: smooth;
  text-align: center;
  width: 1190px;
  float: right;
}

section {

  align-items: center;
  justify-content: center;
  height: 100%;
}
.navi {
  text-align: justify;
  margin-left: 25px;
  width: 16%;
  float: left;
  margin-right: 20%;
}
/* Aside */
aside{
  display: block;
  background-color: teal;
  border: dotted black;
  float: left;
  height: 740px;
  width: 300px;
  margin-right: 15px;
}

a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-family: monospace;
}

li {
  list-style: none;
}
.paragraph
{
  color:white;
  margin:20px;
}
