html
{

}
body {
  background-color: #B0E0E6;
  display: inline-flex;
}
hr
{
  border: double 5px teal;
  width: 400px;
  margin-bottom: 50px;
}
.heading
{
  text-align: left;
  text-decoration: underline;
  padding-left: 20px;
  padding-top: 20px;
}
.image {
  float: right;
  opacity: 0.5;
  padding: 10px;
  width: 600px;
  opacity: 0.4;
}

.overline {
  text-decoration: overline;
}
.underline {
  text-decoration: underline;
}
/*Home*/
.home
{
    display: flex;
    font-family: cursive;
}
.home h1
{
 font-family:forte;
font-size: 1px;
}
.home h2
{
  font-size: 43px;
  padding-top: 50px;
  color: teal;
}
.home h3
{
  font-size: 25px;
}
.home h5
{
  font-size: 20px;
}
.home img
{
  width: 550px;
  height: 600px;
}
.container
{
  text-align: center;
  background-color: snow;
  color: black;
  margin-left: -55px;
  width: 500px;
  height: 600px;
}
/*About Me*/
.about h1
{
  padding-top: 50px;
}
.aboutParagraph
{
   text-align: left;
   margin: 10px;
}
.hobby
{
  background-color: snow;
  width: 1000px;
}
.hobby h2
{
  background-color: #20B2AA;
  color: snow;
  padding-bottom: 10px;
  width: 170px;
}
.interest
{
  background-color: #20B2AA;
  color: snow;
}

/*Qualification*/
.qualification
{
  margin: 10px;
}

.qualification table tr th
{
  border: dotted 5px teal;

}
.qualification table
{
  margin-left: 200px;
}
.qualification table tr td
{
  border: double 3px teal;
  font-size: 16px;
}
.education h1
{
  background-color: #20B2AA;
  color: snow;
  padding-bottom: 10px;
  width: 270px;
}
.education {
    background-color: snow;
    color: black;
    margin-top: 70px;
    width: 1050px;
}
/* Popup */
.button {
  font-size: 1em;
  padding: 5px;
  color: #008B8B;
  cursor: pointer;
  transition: all 0.3s ease-out;
  display: inline-block;
}
.button:hover {
  background: #40E0D0;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #B0E0E6;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: teal;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.box
{
  padding: -30px;
  margin: -30px;
  width: 900px;
  align-items: flex-start;
  margin-left: 10px;
}
.qualification p
{
  border: 15px teal;
  border-style: inset;
  width: 300px;
  padding: 7px;
  margin-left: 80px;
  display: inline-block;
  font-family: forte;
  font-size: 15px;
}
.pop
{
  float: right;
  height:200px;
  width:250px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-style: 5px ridge teal;
}

/*Skills*/
.skills
{
  margin-left: 78px;
  margin-top: 78px;
}

.skills table tr th img
{
  height: 50px;
  width: 50px;
  background-color: snow;
  align-items: center;
  border: 1px;
}
.skills table tr th
{
  height: 20px;
  width: 300px;
  border: 1px;
  padding: 20px;
}
.skill h1
{
  background-color: #20B2AA;
  color: snow;
  padding-bottom: 10px;
  width: 180px;
  font-family: monospace;
  font-size: 25px;
}
.skill
{
  background-color: snow;
  color: black;
  width:1000px;
}
.progress
{
  width:300px;;
  background-color: silver;
  height: 20px;
}
.html
{
  background-color: teal;
  width:90%;
  height: 20px;
}
.css
{
  background-color: teal;
  width:70%;
  height: 20px;
}
.js
{
  background-color: teal;
  width:70%;
  height: 20px;
}
.c
{
  background-color: teal;
  width:75%;
  height: 20px;
}
.mysql
{
  background-color: teal;
  width:90%;
  height: 20px;
}
.java
{
  background-color: teal;
  width:75%;
  height: 20px;
}
.boots
{
  background-color: teal;
  width:50%;
  height: 20px;
}
.skillsparagraph
{
  background-color: snow;
  border: 5px dotted teal;
  font-family: chiller;
  font-size: 35px;
  width: 1000px;
  margin-left: 3px;
}


.photo
 {
  height: 200px;
  width: 150px;
  border-radius: 50%;
  padding: 50px;
  padding-bottom: 10px;
}
.photo :hover
{
  box-shadow: 5px 5px 100px 50px rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

/*Contact*/

.contact h1
{
  background-color: #20B2AA;
  color: snow;
  padding: 5px;
  width: 180px;
  font-family: monospace;
  font-size: 25px;
}
.contact
{
  background-color: snow;
  color: black;
  width: 500px;
  text-align: left;
  margin-left: 78px;
}
.contact table
{
  margin: 10px;
  padding: 20px;
}
.contact table tr th
{
  border: double 2px teal;
  padding: 3px;
}
.message
{
  background-color: snow;
  width: 500px;
  margin: 78px;
}
.message input
{
  border: none;
  background-color: #AFEEEE;
  padding: 15px;
  border-radius: 3px;
  margin: 10px 10px;
}
.message button
{
  margin-bottom: 10px;
  background-color: teal;
  color: snow;
  padding: 5px;
  font-family: cursive;
  border-radius: 5px;
}
.icon
{
  width: 40px;
  height: 40px;
}

/*Navigation*/

nav {
  background-color: snow;
  display: block;
  padding: 15px;
  text-align: left;
  width: 210px;
}

nav a {
  color: black;
  margin: 0 1em;
  text-decoration: none;

}
nav a:hover
{
  cursor: pointer;
  text-decoration: underline;
  color: teal;
  font-size: 20px;

}
nav a:visited
{
  background: #008080;
}

.scrolling-box {
  background-color: #40E0D0;
  display: block;
  height: 750px;
  overflow-y: hidden;
  scroll-behavior: smooth;
  text-align: center;
  width: 1190px;
  float: right;
}

section {

  align-items: center;
  justify-content: center;
  height: 100%;
}
.navi {
  text-align: justify;
  margin-left: 25px;
  width: 16%;
  float: left;
  margin-right: 20%;
}
/* Aside */
aside{
  display: block;
  background-color: teal;
  border: dotted black;
  float: left;
  height: 740px;
  width: 300px;
  margin-right: 15px;
}

a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-family: monospace;
}

li {
  list-style: none;
}
.paragraph
{
  color:white;
  margin:20px;
}
nav a:active
{
  color: black;
}
 .nav1:visited
 {
   background-color: teal;
 }
